.task {
    align-items: center;
    border: 0.1rem solid;
    border-left: 1rem solid;
    border-radius: 0.5rem;
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.task:hover {
    transform: translateX(4px);
}
.p {
    margin-right: auto;
}
.low {
    border-color: var(--color-green);
}
.medium {
    border-color: var(--color-yellow);
}
.high {
    border-color: var(--color-red);
}
.done {
    text-decoration: line-through;
}
