.container {
    align-items: center;
    background-color: var(--color-bg);
    border-radius: 1.5rem;
    box-shadow: 8px 8px 23px 8px #2b2b31;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 60vh;
    min-width: 60vw;
    max-width: 100%;
    padding: 6rem 2rem;
}
.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
