:root {
    --color-bg: #fafafa;
    --color-brand: #264653;
    --color-green: #5fad41;
    --color-red: #d93d3d;
    --color-text: #4a4a4a;
    --color-yellow: #e9c46a;
}
* {
    margin: 0px;
    padding: 0px;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-weight: 500;
}
body {
    align-items: center;
    background-color: var(--color-brand);
    display: flex;
    justify-content: center;
    margin: 0px;
    min-height: 100vh;
    padding: 1rem;
    font-size: 20px;
}
